<% content_for :head do %>
  <title>Day Cares in the <%= @ngb_name%>, San Francisco, CA 2017 </title>
  <meta name="description" content="Here is the definitive list of daycares in <%= @ngb_name%>, San Francisco, complete with phone numbers, emails and information on any violations or citations." />

<% end %>
<h3 id="header">Day Cares in the <%= @ngb_name%>, San Francisco</h3>

<%= render 'daycareprovider/resultstable' %>