<% content_for :head do %>
  <title>Day Cares in San Francisco, CA 2017 </title>
  <meta name="description" content="Here is the definitive list of daycares in San Francisco, complete with phone numbers, emails and information on any violations or citations." />
<% end %>

<div class="col" id="centerme">
	<div id="searchtitle" class="center-block align-middle"> 
		San Francisco Day Care Directory
	</div>
		<div contenteditable="false" class="search center-block align-middle">
  		<%= form_tag("/search", method: "get") do %>          
    		<input id="searchinput" type="text" name="searchinput" placeholder="zip code...">
  		<% end %>
  		<div id="display" class="error"></div>
	</div>
  
</div>

<%= render 'daycareprovider/resultstable' %>

<% content_for :neighborhood_links do %>
        <section id="neighborhoods_list">
          <div id="neighborhood_links_title">Neighborhoods </div>
          <!-- <div class="container"> -->
            <div class="row soace3" id="neighborhood_links">
              <% @neighborhood_link_content.each do |nlc | %>
                <% if @neighborhood_link_content.count % 4 == 0 %>
                  <div class="col-md-3 col-sm-6 col-xs-12">  
                <% end %>                
                  <div class="neighborhood_ahrefs"><a href="/<%= nlc.slug %>"><%= nlc.neighborhood_name %></div></a>
                <% if @neighborhood_link_content.count % 4 == 0 %>
                  </div>
                <% end %>
              <% end %>
            </div>
          <!-- </div> -->
        </section>
<% end %>

<script type="text/javascript">
	
	$('#searchinput').keyup(function() {
   		
   		if (isNaN($(this).val()))
   			$('#display').text("I need a zip code to give you results");
   		else
   			$('#display').text("");


	});

</script>