<% content_for :head do %>
  <title>Child Care in San Francisco </title>
<% end %>

<div class="col" id="centerme">
	<div id="searchtitle" class="center-block align-middle"> 
		San Francisco Child Care Directory
	</div>
		<div contenteditable="false" class="search center-block align-middle">
  		<%= form_tag("/search", method: "get") do %>          
    		<input id="searchinput" type="text" name="searchinput" placeholder="zip code...">
  		<% end %>
  		<div id="display" class="error"></div>
	</div>
</div>

<%= render 'resultstable' %>

<script type="text/javascript">
	
	$('#searchinput').keyup(function() {
   		
   		if (isNaN($(this).val()))
   			$('#display').text("I need a zip code to give you results");
   		else
   			$('#display').text("");


	});
</script>