<div>hello</div>

<img src="https://maps.googleapis.com/maps/api/staticmap?center=455+8th+Ave,San+Francisco,CA&zoom=13&size=600x300
&key=AIzaSyCnmgExygLuo6BD7yq7-Rfu40BXAo2oUd4">

<div id="testcardinstaticmaptestarea"></div>
</br>
adfa