<div>hello</div>

<img src="https://maps.googleapis.com/maps/api/staticmap?center=455+8th+Ave,San+Francisco,CA&zoom=13&size=600x300
&key=AIzaSyCnmgExygLuo6BD7yq7-Rfu40BXAo2oUd4">

<div id="testcardinstaticmaptestarea"></div>
</br>

<div id="firstcard">
	<div id="dcname">blah blah biz title</div> 
	<div id="dcnphone">415-967-0305</div> 
	<div id="dcnphone">email</div> 
	<div id="dcndescription">adslfjalfkadsjasdjofiajsdfaksdjfldaksjfl;akasdlfjaklsdfkjas;fjal;skfjadls;fjas;fkjal;sdkfjla;skdjfla;sdkfjla;sdkfjdla;skjfla;sdkjfla;sdkjfl;askfjals;kfjasl;kfjlas;kfjal;sdkfjalds;fkjal;sdkfjasd;kfjas;lfksajf;l</div> 
</div>
    <style>
       #map {
        height: 800px;
        width: 100%;
       }
    </style>

   <div id="map"></div>
    <script>

     var locations = [
		['29713784',47.577794,-122.14333,0,'x'],
		['69992457',47.677471,-122.121384,0,'x'],
		['70208025',47.848236,-122.283478,0,'x'],
		['69968781',47.758785,-122.102051,0,'x'],
		['67804720',47.611019,-122.168579,0,'x'],
		['69982683',47.614899,-122.346001,0,'x'],
		['69958311',47.578671,-122.334412,0,'x'],
		['29698652',47.612076,-122.111272,0,'x'],
		['69972435',47.546188,-122.31514,0,'x'],
		['23303755',47.634346,-122.18506,0,'x'],
		['29853502',47.908724,-122.218419,0,'x'],
		['69964341',47.718281,-122.197021,0,'x'],
		['70001523',47.614868,-122.345779,0,'x'],
		['70003347',47.611019,-122.168579,0,'x'],
		['29865808',47.650364,-122.33605,0,'x'],
		['69969021',47.610115,-122.20015,0,'x'],
		['29713700',47.794946,-122.37258,0,'x'],
		['70189335',47.859917,-122.284782,0,'x'],
		['24554667',47.707835,-122.211909,0,'x'],
		['70002147',47.610699,-122.334,0,'x'],
		['69985197',47.569271,-122.23233,0,'x'],
		['70001667',47.63065,-122.346748,0,'x'],
		['69959877',47.735298,-121.961998,0,'x'],
		['70001925',47.6306,-122.347,0,'x'],
		['29705501',47.625937,-122.165439,0,'x'],
		['64400796',35.163362,-80.931961,1,'pending'],
		['70187943',47.139999,-122.260002,1,'pending'],
		['69956265',47.522827,-122.029213,1,'pending'],
		['29711447',47.610542,-122.191338,1,'pending'],
		['25924539',47.58108,-122.335939,1,'pending'],
		['70181133',47.890589,-122.199276,1,'pending'],
		['88300313',47.804062,-122.37355,1,'pending'],
		['70194597',47.903,-122.250999,1,'pending'],
		['69966963',47.5228,-122.028999,1,'pending'],
		['89953409',47.100138,-122.667278,1,'pending'],
		['88258210',47.025638,-122.900724,1,'pending'],
		['64538642',47.404641,-122.58641,1,'pending'],
		['90051431',47.533097,-122.068407,1,'pending'],
		['69969825',47.441891,-122.11022,1,'pending'],
		['71165105',47.690618,-122.374305,1,'pending'],
		['78048847',47.874286,-122.200396,1,'pending'],
		['64572186',47.820673,-122.26034,1,'pending'],
		['88322722',47.769494,-122.315108,1,'pending'],
		['69965625',47.516052,-122.263799,1,'pending'],
		['69977601',47.4905,-121.89588,1,'pending'],
		['63901293',47.794705,-122.058561,1,'pending'],
		['69525109',47.569228,-122.328623,1,'pending'],
		['88320503',47.3975,-122.315,1,'pending'],
		['70595019',47.359542,-122.116768,1,'pending'],
		['69955485',47.61837,-122.203079,1,'pending'],
		['89733882',47.603575,-122.335451,1,'pending'],
		['69972681',47.739826,-122.368013,1,'pending'],
		['69968301',47.719621,-122.298716,1,'pending'],
		['88249972',47.714947,-122.173088,1,'pending'],
		['71168411',47.655279,-122.187968,1,'pending'],
		['26602563',47.764342,-122.275005,1,'pending'],
		['88250728',47.621177,-122.122615,1,'pending'],
		['64547732',47.797127,-122.27539,1,'pending'],
		['69998559',47.61,-122.19,1,'pending'],
		['69954183',47.729438,-122.294345,1,'pending'],
		['89739589',47.60621,-122.332071,1,'pending'],
		['69953361',47.69127,-122.11604,1,'pending'],
		['78045122',47.839431,-122.195773,1,'pending'],
		['69975579',47.388302,-122.259003,1,'pending'],
		['89893448',47.563,-122.153,1,'pending'],
		['69951555',47.644898,-121.892144,1,'pending'],
		['71320279',47.863303,-122.178252,1,'pending'],
		['69996771',47.453727,-122.289882,1,'pending'],
		['64400281',47.647174,-122.334514,1,'pending'],
		['24649219',47.655086,-122.081032,1,'pending'],
		['70192461',47.803699,-122.371002,1,'pending'],
		['70205199',47.903,-122.250999,1,'pending'],
		['70793485',47.915996,-122.218294,1,'pending'],
		['90009946',47.645124,-122.327854,1,'pending'],
		['77949448',47.456175,-122.564239,1,'pending'],
		['69973959',47.359482,-122.284766,1,'pending'],
		['88253254',47.61,-122.33,1,'pending'],
		['29924809',47.634809,-122.517459,1,'pending'],
		['29938576',47.819232,-122.270459,1,'pending'],
		['71833062',47.586458,-121.978077,1,'pending'],
		['70182063',47.87415,-122.188594,1,'pending'],
		['90052604',47.60613,-122.333849,1,'pending'],
		['29703272',47.368596,-122.23537,1,'pending'],
		['89713949',47.679001,-122.193001,1,'pending'],
		['69984711',47.388252,-122.259323,1,'pending'],
		['89714129',47.671299,-122.342003,1,'pending'],
		['89714617',47.611,-122.168999,1,'pending'],
		['29715419',47.758801,-122.101997,1,'pending'],
		['69994857',47.610935,-122.141037,1,'pending'],
		['70186671',47.833338,-122.100509,1,'pending'],
		['69958617',47.76068,-122.359166,1,'pending'],
		['69954759',47.560051,-122.384531,1,'pending'],
		['70002315',47.491299,-122.303001,1,'pending'],
		['71549112',47.81579,-122.27498,1,'pending'],
		['27759255',47.5644,-122.712997,1,'pending'],
		['77942460',47.700411,-122.182842,1,'pending'],
		['69999723',47.3811,-122.234,1,'pending'],
		['87810007',47.669253,-122.380416,1,'pending'],
		['64539397',47.209376,-121.12593,1,'pending'],
		['89976328',47.896225,-122.185364,1,'pending'],
		['87672017',47.708091,-122.16991,1,'pending'],
		['77928758',47.497201,-122.330154,1,'pending'],
		['77943270',47.689975,-122.124797,1,'pending'],
		['70001505',47.563035,-122.380849,1,'pending'],
		['70074393',47.735928,-122.646537,1,'pending'],
		['64398916',47.716878,-122.170799,1,'pending'],
		['29704031',47.69186,-122.352264,1,'pending'],
		['90074291',47.3643,-122.6,1,'pending'],
		['78052204',47.827069,-122.294872,1,'pending'],
		['87685856',47.355223,-122.190215,1,'pending'],
		['26483927',47.809697,-122.110767,1,'pending'],
		['64396896',47.410566,-122.196621,1,'pending'],
		['90023297',47.796237,-122.347848,1,'pending'],
		['77943252',47.510579,-122.190991,1,'pending'],
		['70010475',47.470219,-122.34304,1,'pending'],
		['69997503',47.563031,-122.314542,1,'pending'],
		['70077519',47.670821,-122.73517,1,'pending'],
		['89943785',48.313548,-122.636059,1,'pending'],
		['70189449',47.758801,-122.101997,1,'pending'],
		['70200447',47.832663,-122.211592,1,'pending'],
		['69965571',47.445949,-122.290254,1,'pending'],
		['70003707',47.174,-122.169998,1,'pending'],
		['70076019',47.6297,-122.635002,1,'pending'],
		['29697266',47.452667,-122.606462,1,'pending'],
		['25507155',47.763026,-122.543921,1,'pending'],
		['88253280',47.440251,-122.331724,1,'pending'],
		['64403226',47.77145,-122.255478,1,'pending'],
		['77938782',47.373796,-122.19642,1,'pending'],
		['88297010',47.612754,-122.198497,1,'sent'],
		['77931920',47.452748,-121.743794,1,'sent'],
		['70809981',47.752998,-122.304001,1,'sent'],
		['89739588',47.4674,-122.209999,1,'sent'],
		['87672299',47.677502,-122.121002,1,'sent'],
		['64402911',47.384307,-122.18772,1,'sent'],
		['29821628',47.750904,-122.244787,1,'sent'],
		['70004649',47.628365,-122.16381,1,'sent'],
		['88125943',47.799218,-122.067877,1,'sent'],
		['28239035',47.609819,-122.196547,1,'sent'],
		['88715247',47.879742,-122.25481,1,'sent'],
		['29847184',47.647118,-122.332561,1,'sent'],
		['77944615',47.3866,-122.1993,1,'sent'],
		['87685190',47.615044,-122.171758,1,'sent'],
		['29859637',47.580889,-122.392106,1,'sent'],
		['88253337',47.762898,-122.289454,1,'sent'],
		['89986306',47.860097,-122.204297,1,'sent'],
		['70007907',47.589582,-122.3337,1,'sent'],
		['29719721',47.551497,-122.21897,1,'sent'],
		['69979161',47.717181,-122.293098,1,'sent'],
		['29796344',47.778019,-122.31449,1,'sent'],
		['69974547',47.479932,-122.133623,1,'sent'],
		['87675078',47.438492,-122.14604,1,'sent'],
		['66711763',47.943501,-122.218002,1,'sent'],
		['64398331',47.683983,-122.192939,1,'sent'],
		['69971793',47.583193,-122.23476,1,'sent'],
		['70005141',47.553716,-122.34745,1,'sent'],
		['70183341',47.893501,-122.197998,1,'sent'],
		['25461915',47.538898,-122.388,1,'sent'],
		['87672083',47.195398,-120.939249,1,'sent'],
		['67509116',47.625912,-122.148744,1,'sent'],
		['70005801',47.61,-122.33,1,'sent'],
		['89930566',47.665855,-122.199486,1,'sent'],
		['88251439',47.745168,-122.192914,1,'sent'],
		['69973857',47.479804,-122.024133,1,'sent'],
		['71827110',47.862278,-122.17983,1,'sent'],
		['70214865',47.858391,-122.270897,1,'sent'],
		['70188909',47.793866,-122.224082,1,'sent'],
		['64400131',47.57851,-122.294421,1,'sent'],
		['69966975',47.530101,-122.032619,1,'sent'],
		['69974043',47.378535,-122.248068,1,'sent'],
		['87674256',47.683374,-122.196208,1,'sent'],
		['90024359',47.230887,-122.489296,1,'sent'],
		['69994299',47.57458,-122.404784,1,'sent'],
		['78045032',48.015098,-122.063743,1,'sent'],
		['70110747',47.25256,-122.459032,1,'sent'],
		['29695715',47.660778,-122.189861,1,'sent'],
		['71600939',47.6064,-122.331001,1,'sent'],
		['27700987',47.525413,-122.330934,1,'sent'],
		['77935010',47.745552,-122.340882,1,'sent'],
		['29693408',47.759051,-122.349216,1,'sent'],
		['71827278',47.668902,-122.381126,1,'sent'],
		['29886799',47.517628,-122.028227,1,'sent'],
		['64403151',47.67139,-122.033625,1,'sent'],
		['29719958',47.860199,-121.936996,1,'sent'],
		['87669545',47.718828,-122.197715,1,'sent'],
		['70204713',47.796306,-122.23984,1,'sent'],
		['69984975',47.3885,-122.195999,1,'sent'],
		['88320729',47.683279,-122.317083,1,'sent'],
		['29697932',47.73208,-122.191978,1,'sent'],
		['89714845',47.569302,-122.232002,1,'sent'],
		['69975147',47.63065,-122.346748,1,'sent'],
		['69998523',47.62913,-122.174345,1,'sent'],
		['29699915',47.70822,-122.244406,1,'sent'],
		['69987117',47.668886,-122.389408,1,'sent'],
		['69989319',47.61,-122.33,1,'sent'],
		['88321074',47.547392,-122.382706,1,'sent'],
		['90027177',48.080002,-123.098999,1,'sent'],
		['70198989',48.240944,-122.176402,1,'sent'],
		['70201143',47.882406,-122.273131,1,'sent'],
		['69985623',47.46312,-122.108719,1,'sent'],
		['77949614',47.61,-122.19,1,'sent'],
		['69975621',47.467631,-122.496614,1,'sent'],
		['69975333',47.610001,-122.330002,1,'sent'],
		['70206087',47.848236,-122.283478,1,'sent'],
		['89776382',47.411844,-122.164864,1,'sent'],
		['77944687',47.61,-122.33,1,'sent'],
		['70595241',47.6297,-122.297997,1,'sent'],
		['70099077',47.158427,-123.02865,1,'sent'],
		['69970911',47.614915,-122.179707,1,'sent'],
		['69982473',47.664101,-122.339394,1,'sent'],
		['70194279',47.896304,-122.232398,1,'sent'],
		['66501580',47.673094,-122.119651,1,'sent'],
		['89776251',47.563,-122.153,1,'sent'],
		['89775891',47.751499,-122.203003,1,'sent'],
		['70199175',47.803669,-122.370956,1,'sent'],
		['70008471',47.557802,-122.114824,1,'sent'],
		['71826324',47.658259,-122.391932,1,'sent'],
		['70008519',47.662211,-122.143131,1,'sent'],
		['70009341',47.677513,-122.007594,1,'sent'],
		['29705723',47.830577,-122.233392,1,'sent'],
		['70115223',47.027936,-122.38013,1,'sent'],
		['90057464',47.26462,-122.469622,1,'sent'],
		['63400858',47.677917,-122.133936,1,'sent'],
		['69957573',47.578671,-122.334412,1,'sent'],
		['69986919',47.546188,-122.31514,1,'sent'],
		['89776353',47.450298,-122.275002,1,'sent'],
		['69977079',47.61837,-122.203079,1,'sent'],
		['69965391',47.58577,-122.300812,1,'sent'],
		['70000617',47.425921,-122.337278,1,'sent'],
		['64399841',47.5228,-122.028999,1,'sent'],
		['69976455',47.45984,-122.062665,1,'sent'],
		['64537612',47.578701,-122.334,1,'sent'],
		['69967773',47.813378,-122.171374,1,'sent'],
		['70188087',47.828864,-122.288935,1,'sent'],
		['71545764',47.676759,-122.204673,1,'sent'],
		['77928848',47.670119,-122.118237,1,'sent'],
		['70187661',47.82093,-122.315131,1,'sent'],
		['67493893',47.46637,-122.644464,1,'sent'],
		['69998607',47.457615,-122.182285,1,'sent'],
		['70206609',47.935928,-122.302058,1,'sent'],
		['90043038',47.3885,-122.195999,1,'sent'],
		['69967455',47.510738,-122.183723,1,'sent'],
		['70188519',47.902034,-122.307246,1,'sent'],
		['70200399',47.880839,-122.248199,1,'sent'],
		['89895295',47.322039,-122.392171,1,'sent'],
		['29696123',47.401766,-122.32429,1,'sent'],
		['70080321',47.771161,-122.584613,1,'sent'],
		['70197297',47.804062,-122.37355,1,'sent'],
		['71166281',47.757858,-122.23996,1,'sent'],
		['64547672',47.778256,-122.266527,1,'sent'],
		['70003665',47.62886,-121.90483,1,'sent'],
		['88250841',47.619769,-122.135899,1,'sent'],
		['70171383',48.421216,-122.334047,1,'sent'],
		['29698199',47.681278,-122.3449,1,'sent'],
		['88312120',47.758801,-122.101997,1,'sent'],
		['69994023',47.758785,-122.102051,1,'sent'],
		['70186467',47.756184,-122.359017,1,'sent'],
		['70194819',47.723123,-122.207761,1,'sent'],
		['69957993',47.63109,-122.359602,1,'sent'],
		['71825352',47.28,-122.76,1,'sent'],
		['24120875',47.494838,-122.062104,1,'sent'],
		['89933330',47.6064,-122.331,1,'sent'],
		['69951297',47.612076,-122.111272,1,'sent'],
		['70194285',47.918539,-122.227595,1,'sent'],
		['88300309',47.798924,-122.039286,1,'sent'],
		['90015757',47.488998,-122.165498,1,'sent'],
		['88257669',47.878969,-122.18659,1,'sent'],
		['70005813',47.60621,-122.332071,1,'sent'],
		['70004541',47.570655,-122.222067,1,'sent'],
		['69972831',47.718819,-122.295884,1,'sent'],
		['77944633',47.626479,-122.205149,1,'sent'],
		['88117309',47.892627,-122.231704,1,'sent'],
		['69983649',47.610935,-122.141037,1,'undeliverable'],
		['69974565',47.575709,-122.168412,1,'undeliverable'],
		['70002387',47.884422,-122.249773,1,'undeliverable']
    ];


      function initMap() {

var origin1 = new google.maps.LatLng(55.930385, -3.118425);
var destinationB = new google.maps.LatLng(50.087692, 14.421150);

var service = new google.maps.DistanceMatrixService();
service.getDistanceMatrix(
  {
    origins: [origin1],
    destinations: [destinationB],
    travelMode: 'DRIVING',

  }, callback);

function callback(response, status) {
console.log(response)
}


        var uluru = {lat: 47.884422, lng:-122.249773};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: uluru
        });
	    var infowindow = new google.maps.InfoWindow();

	    var marker, i;

	    for (i = 0; i < locations.length; i++) { 

	    	if (locations[i][4] == "sent") {
		      marker = new google.maps.Marker({
		        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
		        label: locations[i][4],
		        map: map
		      });

		      google.maps.event.addListener(marker, 'click', (function(marker, i) {
		        return function() {
		          infowindow.setContent(locations[i][0]);
		          infowindow.open(map, marker);
		        }
		      })(marker, i));
	      }
	    }

        var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
        var beachMarker = new google.maps.Marker({
          position: {lat: 47.62597740, lng: -122.32024660},
          map: map,
          icon: image
        });



      }


    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcGm5BWM9aJqAsMZxvNh1IdAlEQGUg7zE&callback=initMap">
    </script>