/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

/*@import "bootstrap-sprockets";*/
/*@import "bootstrap";*/
@import 'tether';
@import 'select2';

/*  
 * Style tweaks
 * --------------------------------------------------
 */

*{
  /*border: 1px solid grey;*/
}


html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Oxygen', sans-serif;
  color:#4F5559;
}


/* 
  Search Div Homepage start
*/

#centerme {
    /*border: 1px solid grey;*/
  padding-top: 85px;
  padding-bottom: 120px;
  padding-right: 30px;
}

#searchtitle, #neighborhood_links_title{
  text-align: center;
  margin-bottom: 10px;
}

.search {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  height: 44px;
  width: 484px;
  margin-left: -15px;
  /*transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);*/
}
.search:hover{
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}
#searchinput {
  border: none;
  border-width: 0px;
  padding-top: 11px;
  padding-left: 8px;
  width: 484px;
}
*:focus {
  outline: none;
}
input{
  font-family: 'Oxygen', sans-serif;
}

::-webkit-input-placeholder { /* WebKit browsers */
     opacity: 0.33 !important;
}

.error {
  color:#F7CB83;
  font-size: 70%;
  padding-top: 30px; 
}
/* 
  Search Div Homepage  end
*/

.center-block {
    /*border: 1px solid grey;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* 
  Search Div Search Results page start
*/
#centerme_search {
  /*border: 1px solid grey;*/
  padding-top: 3px;
  padding-bottom: 30px;
}


#backlink {
  font-size: 85%;
  /*padding-bottom: 20px;*/
}

/* 
  Search Div Search Results page start
*/


body {
  padding-top: 70px;
  background-color: #Ffffff;
}

@media (min-width: 1200px) {
    .container{
        /*max-width: 970px;*/
        max-width: 1200px;
    }
}


.purple {
  color: #410b91 !important;
}




.container-fluid{
  height:100%;
  display:table;
  width: 100%;
  padding: 0;
}



a {
  color: #09579a;

}
@media (max-width: 320px){
  #email{
    /*margin-left: 0rem;*/
    padding: 0px;
  }
}
table{
  margin-top: 13px;
  /*white-space: nowrap;*/
}
.table-striped tbody tr:nth-of-type(odd){
  background-color: #fbfbfb;
}
td {
  /*border: 1px solid black;*/
  /*padding-right: 10px;*/
  text-align: left;
  margin-right: 5px;
  margin-left: 10px;
  font-size: 80%;
  /*white-space: nowrap;*/
}
.email_click {
  color: #09579a;
  cursor: pointer;
}
.hidden_provider_deets {
  display: none;
}
tr {
  text-align: center;
}
.tablelabels {
  font-weight: bold;
  /*color: #3C255B;*/
}
.contactdeets{
  margin-bottom: 0;
  color:#3C255B;
  
}
@media (min-width: 375px){
  #email{
    /*margin-left: 0rem;*/
    padding-right: 5px;
  }
}
#neighborhoods_list {
  padding-top: 100px;  
}
#neighborhood_links {
/*border: 1px solid black;*/
  padding-left: 25px;
  padding-top: 10px;
  font-size: 80%;
  margin-bottom: 100px;
}
.neighborhood_ahrefs
{
  margin: 5px;
}

#neighborhood_header{
  padding-bottom: 25px;
}

#footer{
  margin-top: 30px;
}

